body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    padding: 0px 0px 0px 0px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;

}

.container{
    margin: 0px 84px;
}

.header-line{
    display: flex;
    align-items: center;
    
    
}


.header-logo{
   margin-left: auto;
    margin-right: auto;
   
}

.main-block{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   text-align: left;
    margin-top: 120px; 
    

}

.VidContainer {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    background-color: aliceblue;
    
    
}
    
    .vid1{
       position: absolute; 
        top: 0;
        right:0;
        bottom: 0;
        left:0;
        width: 100%;
        height: 100%;
    }








.right-block-container{
    
    color: orange;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
    
}
























@media(max-width: 1440px){   
   
    .VidContainer{
    position: relative;
        padding-top: 56.25%;
   
    }
    
    .vid1{
        
    }
    
    
    
  .main-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      
      

  }
    .right-block-container{
    text-align: center;
    color: orange;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
        margin-left: 20px;
        margin-right: 20px;
    }

    .left-block{
    margin-left: auto;
        margin-right: auto;
    width:50%;
    
        
        
    }
    
    
    .vid{
      width:100%; 
    align-items: center;
        
        
       
    }
    
}





@media(max-width: 1300px){   
   
    .VidContainer{
    position: relative;
        padding-top: 56.25%;
   
    }
    
    .vid1{
        
    }
    
    
    
  .main-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      
      

  }
    .right-block-container{
    text-align: center;
    color: orange;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
        margin-left: 20px;
        margin-right: 20px;
    }

    .left-block{
    margin-left: auto;
        margin-right: auto;
    width:50%;
    
        
        
    }
    
    
    .vid{
      width:100%; 
    align-items: center;
        
        
       
    }
    
}








@media(max-width: 740px){   
   
    .VidContainer{
    position: relative;
        padding-top: 56.25%;
        
   
    }
    
    .vid1{
        
    }
    
    
    
  .main-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      
      

  }
    .right-block-container{
    text-align: center;
    color: orange;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
        margin-left: 20px;
        margin-right: 20px;
    }

    .left-block{
    margin-left: auto;
        margin-right: auto;
    width:100%;
    
        
        
    }
    
    
    .vid{
      width:100%; 
    align-items: center;
        
        
       
    }
    
}

@media(max-width: 390px){   
   
    .VidContainer{
    position: relative;
        padding-top: 56.25%;
        
   
    }
    
    .vid1{
        
    }
    
    
    
  .main-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      
      

  }
    .right-block-container{
    text-align: center;
    color: orange;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
        margin-left: 20px;
        margin-right: 20px;
    }

    .left-block{
    margin-left: auto;
        margin-right: auto;
    width:100%;
    
        
        
    }
    
    
    .vid{
      width:100%; 
    align-items: center;
        
        
       
    }
    
}





