body {
    max-width: 1920px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: #F5F5F7;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
}



.header {
    margin: 10px 60px;
}

.header-line {
    display: flex;
    align-items: center;

}

.nav {
    margin-left: auto;
}

.nav-item {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-right: 20px;
    transition: color 0.4s linear;
}

.nav-item:hover {
    color: #1B76FF;
}





.main_block {
    display: flex;
    flex-direction: column;
    margin: 40px 60px;
    align-items: center;
    gap: 20px;
}

.frame {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.frame-main-text {
    position: absolute;
    left: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frame-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




.footer {
    width: auto;
    height: auto;
    background-color: black;


}

.footer-block {
    display: flex;
    padding: 20px 60px;
}

.footer_container_left {
    display: block;


}

.f_text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.colortext {
    color: #1B76FF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info {
    color: rgba(255, 255, 255, 0.78);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 0px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.adv {
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
    margin-top: 10px;

}

.footer_container_right {
    display: block;
    margin-left: auto;
    padding: 0px 0px 0px 20px;

}

.svg_block {
    padding: 5px 0px;

}

















@media screen and (max-width: 390px) {
    .header {
        margin: 10px 30px;
    }

    .main_block {
        margin: 40px 30px;
        gap: 20px;
    }

    .frame {
        border-radius: 20px;
    }

    .frame-main-text {
        font-size: 24px;
    }

    .frame-text {
        font-size: 16px;
    }
}

@media screen and (min-width:390px) {
    .header {
        margin: 10px 30px;
    }

    .main_block {
        margin: 40px 30px;
        gap: 20px;
    }

    .frame {
        border-radius: 20px;
    }

    .frame-main-text {
        font-size: 24px;
    }

    .frame-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 600px) {
    .header {
        margin: 10px 30px;
    }

    .main_block {
        margin: 40px 30px;
        gap: 20px;
    }

    .frame {
        border-radius: 20px;
    }

    .frame-main-text {
        font-size: 32px;
    }

    .frame-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        margin: 10px 30px;
    }

    .main_block {
        margin: 40px 30px;
        gap: 40px;
    }

    .frame {
        border-radius: 40px;
    }

    .frame-main-text {
        font-size: 32px;
    }

    .frame-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    .header {
        margin: 10px 30px;
    }

    .main_block {
        margin: 40px 30px;
        gap: 40px;
    }

    .frame {
        border-radius: 40px;
    }

    .frame-main-text {
        font-size: 36px;
    }

    .frame-text {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        margin: 10px 60px;
    }

    .frame {
        border-radius: 40px;
    }

    .main_block {
        margin: 40px 60px;
        gap: 40px;
    }

    .frame-main-text {
        font-size: 36px;
    }

    .frame-text {
        font-size: 24px;
    }
}
